<ion-header [translucent]="true">
  <div class="welcome-box">
    <p>¡BIENVENIDO ESTUDIANTE DEL LICEO CODEDOUC!</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="container" [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-icon slot="start" name="mail"></ion-icon>
          <ion-input formControlName="email" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="finger-print-outline"></ion-icon>
          <ion-input formControlName="password" placeholder="Clave" type="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-button expand="block"type="submit" id="btn-ion"[disabled]="!loginForm.valid">Iniciar Sesión</ion-button>

        <p>No tienes cuenta, <a [routerLink]="['/register']">Regístrate</a></p>
        <p><a [routerLink]="['/reset-pass']">¿Olvidaste tu contraseña?</a></p>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
