<ion-content class="ion-padding">
  <div class="welcome-box">
    <p>¡BIENVENIDO ESTUDIANTE DEL LICEO CODEDOUC!</p>
  </div>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inicio de Sesion</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Rut"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="finger-print-outline"></ion-icon>
          <ion-input placeholder="Clave" type="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-button id="btn-ion" expand="block">Ingresar</ion-button>

        <p>No tienes cuenta, <a id="RegisterLink" [routerLink]="['/register']">Registrate</a></p>
        <p><a [routerLink]="['/home']">¿Olvidaste tu contraseña?</a></p>
      </ion-card-content>
      
      
    </ion-card>
  </div>
</ion-content>


