ion-item {
    --border-radius: 0;  
    --border-width: 0;    
    --inner-border-width: 0; 
    --border-style: none; 
  }
 .menu ion-icon{
    color: #171717;
  }
  .help-section ion-item{
    --color:gray;
   
}
  