<ion-menu contentId="main-content"> 
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Hola {{ userName }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menu">
      <ion-item><ion-icon name="id-card" slot="start"></ion-icon>Tu perfil
      
      </ion-item>
      <ion-item><ion-icon name="checkmark-done" slot="start"></ion-icon>Notas</ion-item>
      <ion-item><ion-icon name="reader" slot="start"></ion-icon>Asistencia</ion-item>
    </ion-list>
  </ion-content>
  <ion-list class="help-section">
    <ion-item>Ayuda <ion-icon name="help-circle"></ion-icon></ion-item>
    <ion-item>FAQ</ion-item>
  </ion-list>
  <ion-button (click)="logout()"><ion-icon color="danger" name="log-out" ></ion-icon><p>Cerrar Sesion</p></ion-button>

</ion-menu>
