<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Rut"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="finger-print-outline"></ion-icon>
          <ion-input placeholder="Clave" type="password">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-button expand="block">Registrarse</ion-button>

        <p>Ya tienes cuenta, <a [routerLink]="['/login']">Inicia Sesion</a></p>
      </ion-card-content>
      
      
    </ion-card>
  </div>
</ion-content>
